body {
	background-color: #ddd;
}

.page {
	background-color: #000;
	width: 80%;
	max-width: 100%;
}

/* span10 is the class of main column for us, and #pagecontent the id containing page content :) */
#pagecontent .row .span10 h1 {
	font-size: 170%;
}

#pagecontent .row .span10 h2 {
	font-size: 150%;
}

#pagecontent .row .span10 h3 {
	font-size: 130%;
}

/* inline stuff are pages inserted in pages with [[!inline]] */

#pagecontent .row .span10 .inlinepage {
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;
}

#pagecontent .row .span10 .inlinepage .inlineheader {
	font-size: 130%;
	font-weight: bold;
}

#pagecontent .row .span10 .inlinepage .inlinecontent h2 {
	font-size: 120%;
}

/* OpenLayers workaround with Bootstrap */
img.olTileImage {
	max-width: none;
}

/* TOC (see toc plugin) */
div.toc {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;	
}

.toc ol .L1 {
	list-style-type: upper-roman;
}

.toc ol .L1 ol .L2 {
	list-style-type: decimal;
}
