body {
	background-color: #dadada;
}

a {
	color: #940000;
}

li {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

p {
	line-height: 140%;
	clear: both;
	text-align: justify;
	text-justify: newspaper;
}

#pageheader.container .row .span8 {
	text-align: right;
}

.lead {
	line-height: 46px;
}

/* [[!img ]] directive puts image in a table with class img */
table.img {
	caption-side: bottom;
	display: inline;
	float: right;
}

h1 {
	font-size: 170%;
	clear: both;
	margin-top: 4em;
}

h2 {
	font-size: 150%;
	clear: both;
	margin-top: 3em;
}

h3 {
	font-size: 130%;
	clear: both;
	margin-top: 2em;
}

span.title h1 {
	font-size: 220%;
	margin-top: 0em;
}

/* inline stuff are pages inserted in pages with [[!inline]] */
#pagecontent .row .span8 .inlinepage {
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;
	background-color: #ebebeb;
}

div.inlinecontent h1 {
	margin-top: 1em;
}

#pagecontent .row .span8 .inlinepage .inlineheader {
	font-size: 140%;
	font-weight: bold;
}

#pagecontent .row .span8 .inlinepage .inlineheader a {
	color: #333333;
}

#pagecontent .row .span8 .inlinepage .inlinecontent h1 {
	font-size: 125%;
}

#pagecontent .row .span8 .inlinepage .inlinecontent h2 {
	font-size: 115%;
}

#pagecontent .row .span8 .inlinepage .inlinecontent h3 {
	font-size: 105%;
}



/* OpenLayers workaround with Bootstrap (otherwise [[!osm]] is broken */
img.olTileImage {
	max-width: none;
}

/* TOC (see toc plugin) */
div.toc {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;	
}

.toc li {
	margin-top: 0em;
	margin-bottom: 0em;
}

div.toc a {
	color: #606060;
}

.toc ol .L1 {
	list-style-type: upper-roman;
	color: #606060;
}

.toc ol .L1 ol .L2 {
	list-style-type: decimal;
	color: #606060;
}

.toc ol .L1 ol .L2 ol .L3 {
	list-style-type: lower-alpha;
	color: #606060;
}

/* RSS and Atom buttons */
.feedbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}
.feedbutton:hover {
	color: white !important;
	background: #ff9900;
}

/* tag sizes and */
.smallestPC { font-size: 70%; }
.smallPC { font-size: 80%; }
.normalPC { font-size: 90%; }
.bigPC { font-size: 100%; }
.biggestPC { font-size: 110%; }

/* tag list on main page */
ul.list {
	margin-left: 0;
}

ul.list li {
	list-style-type: none;
	float: left;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	background: #ebebeb;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
}
