/* inline stuff are pages inserted in pages with [[!inline]] */

.inlinepage {
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;
}

.inlineheader {
	font-size: 130%;
	font-weight: bold;
}

.inlinecontent h2 {
	font-size: 120%;
}


/* span10 is the class of main column in fluid layout */
.span10 h1 {
	font-size: 170%;
}

.span10 h2 {
	font-size: 150%;
}

.span10 h3 {
	font-size: 130%;
}

/* OpenLayers workaround with Bootstrap */
img.olTileImage {
	max-width: none;
}

