<div id="feedlink">
<TMPL_IF RSSURL>
<a class="feedbutton" type="application/rss+xml" href="<TMPL_VAR RSSURL>">RSS</a>
</TMPL_IF>
<TMPL_IF ATOMURL>
<a class="feedbutton" type="application/atom+xml" href="<TMPL_VAR ATOMURL>">Atom</a>
</TMPL_IF>
</div>
